@{
    ViewBag.Title = "camisetas";
}

<div class="camisetas-container">
    <h2 class="camisetas-title">camisetas</h2>
    <div class="camisetas-list">
        <div class="camisetas-item">
            <img src="~/imagens/caneca1.png" alt="Caneca 1" class="camisetas-img">
            <p class="camisetas-description">Caneca "Loja Mofya" - Preta</p>
            <span class="camisetas-price">R$ 29,90</span>
        </div>

        <div class="camisetas-item">
            <img src="~/imagens/caneca1.png" alt="Caneca 2" class="camisetas-img">
            <p class="camisetas-description">Caneca "Liberdade" - Branca</p>
            <span class="camisetas-price">R$ 34,90</span>
        </div>

        <div class="camisetas-item">
            <img src="~/imagens/caneca1.png" alt="Caneca 3" class="camisetas-img">
            <p class="camisetas-description">Caneca "Criatividade" - Vermelha</p>
            <span class="camisetas-price">R$ 32,90</span>
        </div>
        <div class="camisetas-item">
            <img src="~/imagens/caneca1.png" alt="Caneca 1" class="camisetas-img">
            <p class="camisetas-description">Caneca "Loja Mofya" - Preta</p>
            <span class="camisetas-price">R$ 29,90</span>
        </div>

        <div class="camisetas-item">
            <img src="~/imagens/caneca1.png" alt="Caneca 2" class="camisetas-img">
            <p class="camisetas-description">Caneca "Liberdade" - Branca</p>
            <span class="camisetas-price">R$ 34,90</span>
        </div>

        <div class="camisetas-item">
            <img src="~/imagens/caneca1.png" alt="Caneca 3" class="camisetas-img">
            <p class="camisetas-description">Caneca "Criatividade" - Vermelha</p>
            <span class="camisetas-price">R$ 32,90</span>
        </div>
    </div>
</div>
