@{
    ViewData["Title"] = "Upload de Imagem";
}

<h1>Upload de Imagem</h1>


<form asp-controller="Upload" asp-action="UploadImage" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="image">Selecione a Imagem</label>
        <input type="file" class="form-control" id="image" name="image" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@if (ViewData["ImageBase64"] != null)
{
    <h2>Imagem Enviada (Base64):</h2>
    <img src="data:image/jpeg;base64,@ViewData["ImageBase64"]" alt="Imagem Upload" style="max-width: 100%; height: auto;" />
}